#con questa stringa non vediamo i dati che abbiamo usato durante i test ma abbiamo un db pulito nel docker
MONGO_URI=mongodb://mongo:27017/fridgy

# chiave per firmare i token JWT.
JWT_SECRET=4a50bdb136aad090d689e9a15046ff930b33b5658b20acb8dd214634ae763053


#chiave di Gemini
GEMINI_API_KEY=


FRONTEND_URL=http://localhost

