    .sr-only {
      position: absolute; /*toglie l'elemento dal flusso del documento*/
      width: 1px;  /*non a zero perchè alcuni screen reader ignorano gli elementi con dimensione 0*/
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;  /*impedisce che il testo vada a capo*/
      border: 0;
    }

    .layout-principale {
      display: flex;
      justify-content: space-between;  /*dispone le colonne di destra e di sinistra alla massima distanza tra di loro*/
      gap: 40px;      /*spazio minimo grantito*/
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
    }

    .colonna-sinistra {
      width: 100%;
    }

    .colonna-destra {
      width: 100%;
    }

    .quick-add-bar {
      display: flex;       /*dispone gli elementi in riga allineati verticalmente al centro*/
      align-items: center;
      background-color: #fffaf0;
      border: 2px solid #3d3c3c;
      border-radius: 50px;
      padding: 12px 25px;
      width: 100%;
      max-width: 750px;
      gap: 15px;
    }

    .btn-add {
      background: none;  /*rimuove lo stile di defoult applicato dal browser*/
      border: none;
      font-size: 28px;
      color: #3d3c3c;
      cursor: pointer;  /*manina*/
      padding: 0 5px;
      font-weight: bold;
    }

    .quick-add-bar input {    /*per rimuovere  il bordo e lo sfondo di defoult a tutti gli input discendenti do quick add bar*/
      border: none;
      background: transparent;
      color: #3d3c3c;
      font-size: 18px;
      outline: none;
      width: 100%;
    }

    #nomeAlimento {
      flex-grow: 1; /*per occupare lo spazio extra disponibile*/
      text-transform: uppercase;
      width: 250px;
    }

    #quantitaAlimento {
      flex-grow: 1;
      width: 120px;
    }

    #data-scadenza {
      width: 150px;
      font-family: inherit;
    }

   /* .btn-barcode {
      background-color: transparent;
      border: 2px solid #3d3c3c;
      border-radius: 8px;
      padding: 8px 12px;
      font-size: 16px;
      font-weight: bold;
      color: #3d3c3c;
      cursor: pointer;
      letter-spacing: 2px;
    }  */


/*responsive*/
@media (max-width: 768px) {

    .quick-add-bar {  
       
        flex-direction: column;  /*elementi ora disposti in colonna e non più in fila

       
        align-items: stretch;      /*stretch fa si che ogni figlio occupi tutta la larghezza del contenitore*/

        
        border-radius: 25px;  /*da 50 a 25 */

        padding: 20px;

        gap: 12px;
    }

    
    #nomeAlimento,           /*ogni campo deve ora occupare tutta la riga*/
    #quantitaAlimento,
    #data-scadenza {
        width: 100%;
        text-align: center;
    }

    .btn-add {                    /* Il pulsante "+" diventa una riga a sé stante*/
        width: 100%;
        padding: 8px 0;
        border-bottom: 2px solid #3d3c3c;
    }
}